.hero {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 20px;
}
.hero-text p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 36px;
  color: #a98165;
}
.hero-text {
  max-width: 35%;
  color: #a98165;
}

.hero-text span {
  color: #8cc740;
}
.hero-text input {
  border: 1px solid #a98165;
  border-radius: 5px;
  padding: 10px;
}
