/* .buttons {
  margin: 10px;
} */
.download {
  background-color: #f6efe1;
}
.signup {
  background: #a98165;
  color: #fff;
}
.download,
.signup {
  border: 1.5px solid #a98165;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
